<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Note</th>
      <th></th>
    </tr>
  </thead>
  <tbody data-link="row" class="rowlink">
    <% exam.exams_diags.each do |ed| %> 
    <tr>
      <td><%= ed.id %></td>
      <td><%= ed.diag.name %></td>
      <td><%= ed.note %></td>
      <td class="rowlink-skip"><a href="<%= edit_exam_diag_path(ed) %>" data-remote="true" data-disable-with='<span class="glyphicon glyphicon-time"></span>'><span class="glyphicon glyphicon-edit"></span></a></td>
    </tr>
    <% end %>
  </tbody>
</table>