<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title pull-left"><%= t("exams.diags.diags.new_diag")%></div>
    <div class="panel-title pull-right">
      <a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">

<% if patient_diag.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <strong><%= t("error.cannot_save") %></strong>
    <ul>
      <% patient_diag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render partial: "exams/diags/patient_diag_form", locals: {operation: :new, exam: exam, patient_diag: patient_diag} %>

  </div>
</div>