div data-controller="drug_ins" data-action="index"
  i.glyphicon.glyphicon-refresh.glyphicon-refresh-animate.glyphicon-big
  =link_to ".", drug_drug_ins_path(drug), remote: true, data: {"refresh" => "true"}, class: "hide"