<h1>Clinic First Page!</h1>
<%= content_tag :div, nil, data: { "react-class": "DrugSelection", "react-props": {url: "/drug_has_drug_ins"}} %>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>