=> f.button  name: "submit", class: "btn btn-success", value: "submit" do |b|
  i.glyphicon.glyphicon-ok
  =<t('customers.new.submit_button')

=> f.button type: :reset, class: "btn btn-info" do |b|
  i.glyphicon.glyphicon-erase
  =<t('customers.new.clear_button')
