@font-face
  font-family: "THSarabun"
  src: url('fonts/THSarabun.ttf')

body
  font-family: "THSarabun"
  font-size: 8px
  line-height: 4px

table tr td
  border: 1px solid #000000

table
  td
    padding: 0px
    margin: 0px