@import 'https://fonts.googleapis.com/css?family=Kanit&subset=thai'

body
  font-family: 'Kanit', sans-serif
  font-size: 12px
  line-height: 12px

.drug-concern
  margin-left: 5px

div.alwaysbreak 
  page-break-before: always